@layer base {
  :root {
    --chart-1: 142.1 76.2% 36.3%;
    --chart-2: 346.8 77.2% 49.8%;
    --chart-3: 217.2 91.2% 59.8%;
    --chart-4: 20.5 90.2% 48.2%;
    --chart-5: 280.1 81.7% 55.5%;
  }

  .dark {
    --chart-1: 142.1 70.6% 45.3%;
    --chart-2: 346.8 77.2% 49.8%;
    --chart-3: 217.2 91.2% 59.8%;
    --chart-4: 20.5 90.2% 48.2%;
    --chart-5: 280.1 81.7% 55.5%;
  }
} 